body {
    background-color: #d6eee3; /* Color de fondo */
    color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    min-height: 100vh; /* Asegura que el body ocupe toda la altura de la vista */
}

.content {
    width: 80%;
    max-width: 900px;
    background-color: white; /* Color de fondo del contenido */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    text-align: center; /* Alineación de texto al centro */
}

.title {
    margin: 20px 0;
    color: #2c3e50; /* Color del título */
    font-size: 2em;
}

.imginta {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: auto; /* Ajusta la altura automáticamente */
    width: 100%; /* Ajusta al ancho del contenedor */
}

.imginta img {
    width: 100%;
    max-width: 300px; /* Tamaño máximo de la imagen */
    height: auto; /* Mantiene la proporción */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    margin: 0 auto; /* Centra la imagen */
}

@media (max-width: 600px) {
    .content {
        width: 100%;
    }
    
    .title {
        font-size: 1.5em;
    }
}
