
{% extends 'registration/navigatebar.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'lista_preguntas.css' %}">
    <h1 class="title">Lista de preguntas</h1>
    <ul class="preguntas-list">
        {% for pregunta in preguntas %}
            <li class="pregunta-item">
                <span class="pregunta-texto">{{ pregunta.texto_pregunta }}</span>
                <form class="eliminar-form" action="{% url 'eliminar_pregunta' pk=pregunta.pk %}" method="post">
                    {% csrf_token %}
                    <button class="eliminar-btn" type="submit" onclick="return confirm('¿Estás seguro de que quieres eliminar esta pregunta? Junto con ella se eliminarán todas las respuestas asociadas a ella');">Eliminar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}