{% extends 'registration/navigatebar.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- responsive-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"><!-- carga la librería de íconos font awwsome-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"><!-- carga los íconos de bootstrap-->
    {% load static %}<!-- Carga las etiquetas de Django para trabajar con archivos estáticos. Esto nos permite generar URLs dinámicas-->
    <link rel="stylesheet" href="{% static '/posta.css' %}"><!--  carga la hoja de estilos desde la ruta configurada en staticfiles en el settings.py--> 
    <title>Estación 3: El Suelo Productivo</title>
    
</head>
<body>
    <h2 class="station-title">Tercera Estación: El Suelo Productivo</h2>
    <div class="content">
        <p>
            En esta parada, se ponen en funcionamiento distintas máquinas agrícolas que trabajan el 
            suelo de diferentes maneras (arado, cincel, sembradora), mostrando a los niños cómo la 
            tecnología ha ido mejorando con el tiempo y se ha reemplazado el laboreo tradicional por 
            la siembra directa, que permite dejar el rastrojo en la superficie y no perturbar el suelo. 
            Se discute sobre las diversas formas de trabajar el suelo y el impacto de estas 
            actividades en él.
        </p>
        <!-- Carrusel: Máquinas Agrícolas -->
        <div class="carousel">
            <input type="radio" id="slide1" name="carousel1" checked><!-- se utilizan para controlar que imagen se muestra en el carrousel, cada una tieneu n id diferente
            el name = "carrousel1" sirve para solo una pueda estar seleccionada. El checked indica que ese slide se va a mostar primero-->
            <input type="radio" id="slide2" name="carousel1">
            
            <div class="slides">
                <div class="slide">
                    <img src="{% static 'images/maquinas.JPG' %}" alt="Máquinas agrícolas trabajando el suelo"><!-- static/ruta_a_la_imagen para mostrar las diapositvas-->
                </div>
                <div class="slide">
                    <img src="{% static 'images/maquinas1.JPG' %}" alt="Máquinas agrícolas trabajando el suelo">
                </div>
            </div>
            
            <div class="carousel-controls">
                <label for="slide1" class="control-dot"></label><!-- cada label está asociada a cada radio por medio del for=slidex -->
                <label for="slide2" class="control-dot"></label>
            </div>
        </div>

        <p>
            Además, se invita a los niños a explorar y descubrir la fauna del suelo, así como a 
            encontrar las semillas recién implantadas por la sembradora.
        </p>
        <!-- Carrusel: Flora del Suelo -->
        <div class="carousel">
            <input type="radio" id="slide3" name="carousel2" checked><!-- se utilizan para controlar que imagen se muestra en el carrousel, cada una tieneu n id diferente
            el name = "carrousel2" sirve para solo una pueda estar seleccionada. El checked indica que ese slide se va a mostar primero-->
            <input type="radio" id="slide4" name="carousel2">
            
            <div class="slides">
                <div class="slide">
                    <img src="{% static 'images/semillas.jpg' %}" alt="Flora del suelo"><!-- static/ruta_a_la_imagen para mostrar las diapositvas-->
                </div>
                <div class="slide">
                    <img src="{% static 'images/semillas1.jpg' %}" alt="Flora del suelo">
                </div>
            </div>
            
            <div class="carousel-controls">
                <label for="slide3" class="control-dot"></label><!-- cada label está asociada a cada radio por medio del for=slidex -->
                <label for="slide4" class="control-dot"></label>
            </div>
        </div>

        <p>
            Siguiendo el recorrido, se les muestra a los estudiantes las principales producciones 
            agropecuarias del centro santafesino (colza, alfalfa, trigo, cebada, centeno). De manera lúdica se les explica cuáles son los diferentes cultivos y se les 
            enseña a distinguir entre cultivos de verano e invierno, así como el uso final de cada 
            uno, tratando de lograr que entiendan la conexión desde el campo a su casa. Se destaca 
            cómo muchos de estos cultivos protegen el suelo, evitando la erosión, y cómo, como 
            beneficio adicional, dejan los rastrojos en la superficie luego de la cosecha, devolviendo 
            nutrientes al suelo y mejorando sus propiedades físicas, químicas y biológicas.
        </p>

        <p>
            Por otro lado, se les enseña sobre la producción de miel. Un profesional con traje apícola 
            les muestra las diferentes partes del apiario.
        </p>
        <!-- Carrusel: Flora del suelo -->
        <div class="carousel">
            <input type="radio" id="slide5" name="carousel3" checked><!-- se utilizan para controlar que imagen se muestra en el carrousel, cada una tieneu n id diferente
            el name = "carrousel1" sirve para solo una pueda estar seleccionada. El checked indica que ese slide se va a mostar primero-->
            <input type="radio" id="slide6" name="carousel3">
            <input type="radio" id="slide7" name="carousel3">
            
            <div class="slides">
                <div class="slide">
                    <img src="{% static 'images/suelo_flora.JPG' %}" alt="Flora del suelo"><!-- static/ruta_a_la_imagen para mostrar las diapositvas-->
                </div>
                <div class="slide">
                    <img src="{% static 'images/suelo_flora1.jpg' %}" alt="Flora del suelo">
                </div>
                <div class="slide">
                    <img src="{% static 'images/suelo_flora2.JPG' %}" alt="Flora del suelo"><!-- static/ruta_a_la_imagen para mostrar las diapositvas-->
                </div>
            </div>
            
            <div class="carousel-controls">
                <label for="slide5" class="control-dot"></label>
                <label for="slide6" class="control-dot"></label>
                <label for="slide7" class="control-dot"></label><!-- cada label está asociada a cada radio por medio del for=slidex -->
            </div>
        </div>
        
        <!-- flecha de retorno que redirige a la página principal-->
        <a href="{% url 'home' %}" class="back-link">
            <i class="bi bi-arrow-left-circle-fill arrow-icon"></i> Volver al inicio
        </a>
    </div>
</body>
</html>

{% endblock %}
