{% extends 'registration/navigatebar.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <title>Estación 2: La Carpa Mágica<</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/posta.css' %}">
</head>
<body>
    <h2 class="station-title">Estación 2: La Carpa Mágica</h2>
    <div class="content">
        <p>
            En esta estación, los niños entran a una carpa llamada "La Carpa Mágica". Dentro, hay un gran pozo llamado 
            calicata, donde pueden ver las capas del suelo y los animales e insectos que viven allí.
        </p>

        <!-- Primer Carrusel: Habitantes del suelo -->
        <div class="carousel">
            <input type="radio" id="slide1" name="carousel1" checked>
            <input type="radio" id="slide2" name="carousel1">
            <input type="radio" id="slide3" name="carousel1">

            <div class="slides">
                <div class="slide">
                    <img src="{% static 'images/suelo.JPG' %}" alt="Habitantes del suelo">
                </div>
                <div class="slide">
                    <img src="{% static 'images/estudio_suelo.JPG' %}" alt="Habitantes del suelo">
                </div>
                <div class="slide">
                    <img src="{% static 'images/suelo_patos.jpeg' %}" alt="Habitantes del suelo">
                </div>
            </div>

            <div class="carousel-controls">
                <label for="slide1" class="control-dot"></label>
                <label for="slide2" class="control-dot"></label>
                <label for="slide3" class="control-dot"></label>
            </div>
        </div>

        <p>
            Los profesionales del INTA explican cómo el suelo es esencial para producir leche, una de las actividades 
            más importantes en la región. También hablan sobre cómo el clima afecta al suelo y su importancia para 
            cuidar el medio ambiente.
        </p>

        <!-- Segundo Carrusel: Habitantes del suelo_vacas -->
        <div class="carousel">
            <input type="radio" id="slide4" name="carousel2" checked>
            <input type="radio" id="slide5" name="carousel2">
            <input type="radio" id="slide6" name="carousel2">

            <div class="slides">
                <div class="slide">
                    <img src="{% static 'images/suelo_vacas.JPG' %}" alt="Habitantes del suelo_vacas">
                </div>
                <div class="slide">
                    <img src="{% static 'images/suelo_vacas1.JPG' %}" alt="Habitantes del suelo_vacas">
                </div>
                <div class="slide">
                    <img src="{% static 'images/suelo_vacas2.JPG' %}" alt="Habitantes del suelo_vacas">
                </div>
            </div>

            <div class="carousel-controls">
                <label for="slide4" class="control-dot"></label>
                <label for="slide5" class="control-dot"></label>
                <label for="slide6" class="control-dot"></label>
            </div>
        </div>

        <a href="{% url 'home' %}" class="back-link">
            <i class="bi bi-arrow-left-circle-fill arrow-icon"></i> Volver al inicio
        </a>
    </div>
</body>
{% endblock %}
