{% extends 'registration/navigatebar.html' %}
{% block content %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'settings.css' %}">
</head>

<body>
    <h1 class="title">Configuración</h1>
    
    {% if user.is_superuser %}
        <ul class="nav-item">
            <li><a href="/info_usuarios" class="nav-link active">Información de Usuarios</a></li>
            <li><a href="/estadisticas_resultados" class="nav-link active">Estadísticas Resultados</a></li>
            <li><a href="/ingresar_pregunta" class="nav-link active">Ingresar pregunta</a></li>
            <li><a href="/lista_preguntas" class="nav-link active">Lista Preguntas</a></li>
            <li><a href="/ingresar_escuela" class="nav-link active">Ingresar Escuela</a></li>
            <li><a href="/lista_escuelas" class="nav-link active">Lista Escuelas</a></li>
        </ul>
        <li>
            <a href="{% url 'logout' %}" class="cerrar-sesion">Cerrar sesión</a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'logout' %}" class=" cerrar-sesion">Cerrar sesión</a>
        </li>
    {% endif %}
</body>

{% endblock %}
