{% extends 'registration/navigatebar.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- responsive-->
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'story.css' %}"><!--  carga la hoja de estilos desde la ruta configurada en staticfiles en el settings.py-->
</head>
<body>
    <h1 class="title">Jornada "Desde el Suelo pensemos en el Medio Ambiente"</h1>
    <div class="container">
        
        <img src="{% static 'images/inta_logo.png' %}" alt="INTA Logo" class="header-image"> <!-- Imagen ilustrativa del INTA -->

        <!-- Párrafos con información sobre la jornada educativa -->
        <p>
            ¿Te has preguntado alguna vez por qué el suelo es tan importante? Aunque no lo veamos siempre, el suelo es lo que nos permite tener alimentos, plantas, y animales. ¡Es la base de todo lo que nos rodea! En INTA Rafaela, queremos que los chicos y chicas de las escuelas puedan aprender jugando sobre la importancia del suelo y cómo cuidarlo. Por eso, organizamos una jornada educativa y divertida al aire libre.
        </p>
        <p>
            Cada año, cuando llega septiembre, más de 2500 estudiantes de 4º grado de Rafaela y la región vienen a pasar dos días llenos de actividades en INTA Rafaela. Aquí podrán participar en diferentes estaciones donde aprenderán cosas increíbles sobre el suelo. Los profesionales del INTA preparan juegos, experimentos y actividades interactivas para que puedas descubrir todo lo que el suelo hace por nosotros. ¡Y lo mejor de todo es que puedes hacer preguntas y descubrir más con tus amigos!
        </p>
        <p>
            El suelo no solo es donde pisamos o donde crecen las plantas. ¡Es mucho más! El suelo es lo que permite que los alimentos crezcan, que los bosques existan y que los animales encuentren lugares donde vivir. Sin él, nuestro planeta sería muy diferente. En esta jornada, aprenderás de una forma muy entretenida cómo el suelo está hecho de varias capas, qué bichitos viven en él, y por qué cuidarlo es esencial para que nuestro mundo siga siendo un lugar saludable.
        </p>
        <p>
            Durante la jornada, vamos a recorrer distintas estaciones donde descubrirás muchas cosas nuevas. Algunas de las actividades incluyen explorar el suelo, conocer a los habitantes del suelo, participar en juegos para cuidar el suelo, y aprender con los expertos del INTA. Queremos que salgas de esta jornada con muchas ideas sobre cómo cuidar el suelo, para que puedas compartirlas con tus amigos, vecinos y familiares. ¡Tú puedes ser un agente de cambio!
        </p>

        <p>
            Este evento se realiza todos los años en septiembre para celebrar el Día de la Conservación del Suelo, que es el 7 de julio. Más de 50 escuelas de Rafaela y la región participan, haciendo de esta jornada una experiencia increíble para los chicos y chicas.
        </p>
        <img src="{% static 'images/logo_jornada_avion.jpeg' %}" alt="Evento INTA Rafaela" class="content-image"> <!-- Imagen del evento -->

        <!-- flecha de retorno que redirige a la página principal-->
        <a href="{% url 'home' %}">
            <i class="bi bi-arrow-left-circle-fill arrow-icon"></i>
        </a> 
    </div>
</body>

</html>

{% endblock %}
