{% extends 'registration/navigatebar.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'story.css' %}">
</head>
<body>
    <h1 class="title">Historia del INTA</h1>
    <div class="container">
        <img src="{% static 'images/inta_logo.png' %}" alt="INTA Logo" class="header-image"> <!-- Imagen ilustrativa del INTA -->
        <p>
            El diseño de una serie de actividades para alumnos de escuelas primarias que 
            integren el aprendizaje con el cuidado del ambiente fue el punto de partida para 
            imaginar una jornada tranqueras adentro, donde los estudiantes tengan la posibilidad de 
            interactuar con los profesionales de INTA, teniendo al suelo como elemento central. 
            Consideramos que los niños son multiplicadores clave en la difusión de conceptos 
            básicos sobre el suelo, la necesidad de conservarlo y las formas de cuidarlo.
        </p>
        <img src="{% static 'images/suelo_alumnos.JPG' %}" alt="Cuidado del suelo" class="content-image"> <!-- Imagen relacionada con el cuidado del suelo -->
        <p>
            Desde 1997, la Estación Experimental Rafaela del INTA, en colaboración con la 
            Municipalidad de Rafaela, organiza la jornada “Desde el Suelo pensemos en el Medio Ambiente” para alumnos de 4º grado. 
            El objetivo es fomentar la conciencia ambiental a través del cuidado de los recursos naturales.
        </p>
        <img src="{% static 'images/suelo_alumnos.JPG' %}" alt="Evento INTA Rafaela" class="content-image"> <!-- Imagen del evento -->
        <a href="{% url 'home' %}">
            <i class="bi bi-arrow-left-circle-fill arrow-icon"></i>
        </a> 
    </div>
</body>

</html>

{% endblock %}
