{% extends 'registration/navigatebar.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'posta.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="title">Historia del INTA</h1>
        <p>
            El diseño de una serie de actividades para alumnos de escuelas primarias que 
            integren el aprendizaje con el cuidado del ambiente fue el punto de partida para 
            imaginar una jornada tranqueras adentro, donde los estudiantes tengan la posibilidad de 
            interactuar con los profesionales de INTA, teniendo a el suelo como elemento central. 
            Consideramos que los niños son multiplicadores clave en la difusión de conceptos 
            básicos sobre el suelo, la necesidad de conservarlo y las formas de cuidarlo.
            Es por esta razón que desde 1997 que la Estación Experimental Rafaela del 
            Instituto Nacional de Tecnología Agropecuaria (INTA) en colaboración con la 
            Municipalidad de Rafaela, organiza la Jornada a campo abierto orientada a alumnos de 
            4º grado denominada: “Desde el Suelo pensemos en el Medio Ambiente”. Centrada en 
            promover la conciencia ambiental a través de la promoción del cuidado de los recursos 
            naturales. <br>
            La misma se lleva a cabo para conmemorar el Día de la Conservación del Suelo
            (7 de julio). Son un espacio de aprendizaje que involucra diferentes estaciones a cargo 
            de profesionales de la experimental y que son recorridas por más de 2500 estudiantes 
            pertenecientes a más de 50 escuelas de Rafaela y la región. Las visitas se desarrollan 
            durante dos días del mes de septiembre.
            Estas actividades de extensión y vinculación con la comunidad, dirigidas a los 
            más jóvenes, revisten fundamental una importancia fundamental, debido a que los 
            conceptos relacionados con el medio ambiente y su cuidado se interiorizan de manera 
            significativa, sentando las bases para una conciencia ambiental sólida en el futuro. <br>
            Objetivo principal: <br>
            Fomentar la conciencia ambiental y el cuidado del suelo en estudiantes de 
            escuelas primarias, mediante una jornada educativa interactiva en INTA Rafaela, 
            donde puedan aprender sobre la importancia del suelo, su conservación y formas 
            de cuidarlo, a través de actividades lúdicas y prácticas. <br>
            Objetivos específicos: <br>
            Sensibilizar a los alumnos de escuelas primarias sobre la importancia del suelo 
            como recurso natural fundamental para la vida en el planeta. <br>
            - Brindar conocimientos básicos sobre la composición del suelo, sus componentes 
            y su importancia para los sistemas productivos. Creando consciencia ecológica 
            de la necesidad de conservarlo. <br>
            - Responder a una demanda concreta de información por parte de docentes de 
            escuelas de Rafaela y la región. <br>
            - Proporcionar herramientas didácticas y experiencias prácticas que permitan a los 
            alumnos entender la relación entre el suelo, la biodiversidad y la salud del 
            ecosistema. <br>
            - Motivar a los alumnos a convertirse en agentes de cambio y multiplicadores de 
            los conocimientos adquiridos, promoviendo la difusión de prácticas responsables 
            de cuidado del suelo y del medio ambiente en sus comunidades. <br>
            Metodología y recursos: <br>
            La jornada se organiza anualmente, desde hace 24 años, en dos días a mediados de 
            septiembre. Este año es el 12 y 13 de septiembre. Se trata de una actividad vivencial a la 
            que los alumnos asisten con sus docentes a la EEA INTA Rafaela. Al llegar los niños 
            son divididos en contingentes de 250 personas y guiados por un recorrido con diferentes
            estaciones
        </p>
    </div>
</body>
</html>

{% endblock %}
