body {
    background-color: #d6eee3; /* Color de fondo */
    color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 603.2px;
    height: 855.81px;
    background-color: white;  /* Cambia el color si es necesario */
    padding: 0px;
    box-sizing: border-box;
    overflow-y: auto; /* Permite desplazamiento si el contenido es muy largo */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente todos los elementos hijos */
}

.title {
    text-align: center;
    margin: 20px 0;
    color: black;
    font-size: 2em;
}

.imginta {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center;    /* Centrar verticalmente */
    height: 100%;           /* Ajusta según el tamaño del contenedor */
    width: 100%;            /* Ajusta según el tamaño del contenedor */
}

.imginta img {
    width: 300px;
    height: 300px;
    object-fit: contain;    /* Asegura que la imagen se ajuste al contenedor sin deformarse */
    display: block; /* Elimina el espacio debajo de la imagen si es un inline-block */
    margin: 0 auto; /* Centra la imagen */
}


@media (max-width: 600px) {
    .container {
        width: 100%; 
        height: auto; 
    }
    
    .title {
        font-size: 1.5em;
    }
}
