body {
    background: black;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background: black;
    padding: 8px;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ajusta este valor según lo que quieras */
    height: auto; /* Ajusta este valor según lo que quieras */
}

.navbar ul li a i {
    font-size: 2rem; /* Reducir tamaño del ícono */
}

.navbar ul li a:hover {
    color: aquamarine;
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        margin-bottom: 5px;
    }
}


