/* Estilo general del cuerpo */
body {
  background-color: #d6eee3; /* Color de fondo suave */
  font-family: Arial, sans-serif;
}

/* Contenedor de los enlaces */
ul.nav-item {
  list-style-type: none;
  padding: 0;
  margin: 20px auto; /* Auto en los márgenes izquierdo y derecho para centrar */
  max-width: 400px;  /* Controla el ancho máximo del recuadro */
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilo de los enlaces en la lista */
ul.nav-item li {
  margin-bottom: 10px;
}

ul.nav-item li a {
  color: #2c3e50; /* Color de los enlaces */
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  display: block;
  background-color: #ecf0f1; /* Fondo claro por defecto */
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  text-align: center; /* Texto centrado dentro del botón */
}

ul.nav-item li a:hover {
  background-color: #1abc9c; /* Fondo verde al pasar el mouse */
  color: #fff; /* Texto blanco en hover */
  transform: scale(1.05); /* Efecto de agrandamiento */
}

/* Estilo del título */
h1.title {
  font-size: 24px;
  color: #2c3e50;
  text-align: center;
  margin-top: 60px; /* Espacio entre la navbar y el título */
  margin-bottom: 20px;
}


a.cerrar-sesion {
  color: #e74c3c; /* Rojo para destacar */
  text-decoration: none;
  font-weight: bold;
  background-color: #ecf0f1; /* Fondo gris claro para mantener consistencia */
  text-align: center;
  display: block; /* Para que el enlace ocupe toda la línea */
  width: 200px; /* Puedes ajustar el ancho del botón según necesites */
  padding: 10px 15px;
  margin: 20px auto; /* Centra el botón horizontalmente */
  border-radius: 5px;
}

/* Efecto hover del botón de cerrar sesión */
a.cerrar-sesion:hover {
  color: #fff;
  background-color: #c0392b; /* Rojo más oscuro en hover */
}